// * {
//     outline: 1px solid red;
// }

.extra-large {
    font-size: 150px;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

/**
 * Page content
 */

.page-content {
    padding: $spacing-unit 0 0;
    min-height: calc(100vh - 230px);

    &.post-layout,
    &.page-layout {
        background-color: white;
        background-image: none;
    } 

    #disqus_thread {
        margin-bottom: 40px;
    }

    &.default-layout {
        padding-bottom: $spacing-unit;
    }

    a {
        &:focus {
            outline: 0;
            background-color: black;
            color: white;
        }
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    padding: 30px 0;
}

// main container for post-links
.post-meta {
    font-size: $small-font-size;
    color: $black;
    font-weight: 900;
    margin-bottom: 30px;
}




/*
 * Posts
 */

 article.post {
    background-color: $white;
    max-width: 720px;
    padding: 0px;
    margin-right: auto;
 }
.post-header {
    margin-bottom: $spacing-unit;
    padding-top: $spacing-unit;

    .post-tagline {
        text-transform: none;
        font-size: 4vw;
    }

    .tags {
        width: 100%;
        max-width: 400px;
        padding: 0;
        margin-left: 0;

        li {
            display: inline-block;
            position: relative;

            &:not(:last-child) {
                &:after {
                    content: ',';
                    display: block;
                    position: absolute;
                    color: $accent;
                    top: 0;
                    right: -7px;
                    font-weight: 600;
                }
            }

            + li {
                margin-left: 5px;
            }
        }

        a {
            color: $accent;
            font-weight: 600;
            font-style: italic;
            &:hover {
                color: $white;
                background-color: $black;
            }
        }
    }
}

.post-title {
    font-size: 6vw;
    letter-spacing: -1px;
    line-height: 1;
    font-weight: 900;
    margin-bottom: $spacing-unit;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    width: 100%;
    margin: 40px auto 30px 0;

    a {
        color: $accent;
        font-weight: bold;
        padding: 0 0px;

        &:hover {
            background-color: $black;
            color: $white;
        }


    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;
        margin-top: 50px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.download-link {
    margin-bottom: 40px;
    margin-top: 40px;

    a {
        padding: 10px;
        margin-right: 10px;
        background-color: $white;
        color: $black;
        border: 2px solid $black;
        text-transform: uppercase;
        transition: all 0.2s ease;

        &:hover {
            background-color: $accent;
            color: $white;
            border-color: $accent;
        }
    }

    &.back-link {
        a {
            background-color: $black;
            color: $white;
            font-weight: bold;

            &:hover {
                background-color: $accent;
                border-color: $accent;
            }
        }

        
    }
}

figure {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
    pre {
        text-align: left;
    }
    
    img {
        margin: 0 auto;
    }

    figcaption {
        font-style: italic;
        color: #777;
        font-size: 14px;
        margin-top: 5px;
        font-weight: 100;
    }
}

canvas {
    // margin-bottom: 15px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 400px and up) */
@media (min-width: 400px) { 
    article.post {
       padding: 0px 30px 60px;
    }

    .page-content {
        &.post-layout,
        &.page-layout,
        &.project-layout {
            background-color: lighten($accent, 4%);
            background-image: linear-gradient(180deg, rgba($accent, 0.5) 0%, #57f0de 90%);
            
        }

    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
